
<div class="section-header mt-1">
    <h2 class="category-title">
        <%= newsItems.data[0].category %>
    </h2>   
</div>
<div class="news-grid1">
    <% newsItems.data.forEach(newsItem=> { %>
        <article class="news-card1">
            <div class="read-more-corner">Devamını Oku</div>
            <a class="bridge" href="<%= newsItem.link %>" target="_blank">
                <img class="news-image" src="<%= newsItem.image_url%>" alt="<%= newsItem.title %>"
                    data-category="<%= newsItem.category %>">
                
                <div class="card-content1">
                    <div class="news-meta">
                        <span>
                            <%= newsItem.provider %>
                        </span>
                        <span>•</span>
                        <span>
                            <%= new Date(newsItem.published_dt).toLocaleDateString() %>
                        </span>
                    </div>
                    <h3>
                        <%= newsItem.title %>
                    </h3>
                    <p>
                        <%= (newsItem.content || "Açıklama yok." ).substring(0, 100) + "..." %>
                    </p>

                </div>
            </a>
        </article>
        <% }) %>
</div>
<%- include('partials/pagination', { newsItems: newsItems }) %>