<div class="news-grid1">
    <% newsItems.data.forEach(newsItem => { %>
        <article class="news-card1">
            <a class="bridge" href="<%= newsItem.link %>" target="_blank">
                <img class="news-image" src="<%= newsItem.image_url%>" alt="<%= newsItem.title %>"
                    data-category="<%= newsItem.category %>">
                <div class="card-content1">
                    <div class="news-meta">
                        <span>
                            <%= newsItem.provider %>
                        </span>
                        <span>•</span>
                        <span>
                            <%= new Date(newsItem.published_dt).toLocaleDateString() %>
                        </span>
                    </div>
                    <h3>
                        <%= newsItem.title %>
                    </h3>
                    <p>
                        <%= (newsItem.content || "Açıklama yok." ).substring(0, 100) + "..." %>
                    </p>
                    <div class="card-footer">
                        <a href="<%= newsItem.link %>" target="_blank" class="read-more-btn">
                            Devamını Oku
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
            </a>
        </article>
        <% }) %>
</div>
<%- include('partials/pagination', { newsItems: newsItems }) %>



